/* max-width: 320 sm mobail screen
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV. */

/* @media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1600px;
    }
} */

@media screen and (min-width:1201px) {}


@media screen and (min-width:1025px) and (max-width:1200px) {}


@media screen and (min-width:769px) and (max-width:1024px) {
    .input-group{
        display: none;
    }

    .top_heding {
        padding-left: 0px;
    }
}

@media screen and (min-width:821px) and (max-width:912px) {}

@media screen and (min-width:769px) and (max-width:820px) {}

@media screen and (min-width:577px) and (max-width:768px) {}

@media screen and (max-width:576px) {}


@media screen and (max-width:375px) {}